  /* my color pallet
   green- #007A3D , rgb(0, 122, 61)
   red -  #CE1126 , rgb(206, 17, 38)
   black- #000000 , rgb(0, 0, 0)
   white- #FFFFFF , rgb(255, 255, 255)*/
  :root {
     --green: rgb(0, 122, 61);
     --light-green: rgb(41, 219, 41);
     --green-yello: rgb(173, 255, 47);
     --red: rgb(206, 17, 38);
     --black: rgb(0, 0, 0);
     --white: rgb(255, 255, 255);
     --medium-gray: rgb(211, 211, 211);
     --golden: rgb(224, 172, 28);
     --blur-background-color: rgba(225, 225, 225, 0.2);
     /* --nav-link-background-color: rgba(0, 122, 61, 0.1); */
  }

  * {
     font-family: 'cursive', Poppins, sans-serif;
     padding: 0;
     margin: 0;
     outline: none;
     border: none;
     box-sizing: border-box;
     text-transform: capitalize;
     transition: all 0.3s ease;
  }

  html {
     /* 62.5% of 16px = 10px, so 1rem = 10px. */
     font-size: 62.5%;
     overflow-x: hidden;
     scroll-behavior: smooth;
  }

  body {
     min-height: 100vh;
     background-color: var(--white);
     color: var(--black);
  }

  /* the stated nav bar */
  nav.navbar {
     font-size: 1.6rem;
     width: 100vw;
     padding: 1.3rem 0;
     top: 0;
     left: 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     z-index: 1000;
     background-color: var(--white);
     box-shadow: 0.5rem 0.5rem 1rem var(--black);

  }

  /* nav bar logo and animated text */
  nav .logo-and-text {
     display: flex;
  }

  nav .logo img {
     height: 4rem;
     border-radius: 10%;
     cursor: pointer;
     /* common transition in effect is there */
  }

  nav .logo:hover img {
     transform: scale(1.1);
  }

  /* changing text outer div */
  nav .changing-text-outer {
     width: 15rem;
     height: 3.8rem;
     overflow: hidden;
     position: relative;
  }

  /* a dot before the .changing-text  */
  nav .changing-text-outer::before {
     content: ".";
     font-size: 3rem;
     animation: blink 2s step-end infinite;
  }

  @keyframes blink {
     50% {
        opacity: 0;
     }
  }

  /* changing text inner */
  nav .changing-text {
     position: absolute;
     bottom: -100%;
     animation: slideIn 1s ease alternate infinite;
  }

  @keyframes slideIn {
     0% {
        bottom: -100%;
     }

     100% {
        bottom: 0%;
     }

  }


  /* navigation links */
  nav ul.nav-links {
     display: flex;
     height: 100%;
     cursor: pointer;
  }

  nav ul li {
     list-style-type: none;
     margin-left: 5rem;
     padding: 0rem 0rem;
     height: 100%;
     position: relative;
     /* common transition in effect is there */
  }

  nav ul li:hover {
     transform: translateY(-5px);
     background-color: rgba(0, 122, 61, 0.1);
  }

  /* under line and overline animation with using before and after  */
  .animated-lines::before,
  .animated-lines::after {
     content: '';
     position: absolute;
     width: 100%;
     height: 0.2rem;
     background-color: var(--green);
     left: 0;
     transform: scaleX(0);
     transition: transform 0.5s ease;
  }

  .animated-lines::before {
     top: 0;
     transform-origin: left;
  }

  .animated-lines::after {
     bottom: 0;
     transform-origin: right;
  }

  .animated-lines:hover::before {
     transform: scaleX(1);
  }

  .animated-lines:hover::after {
     transform: scaleX(1);
  }

  nav ul li a {
     text-decoration: none;
     color: var(--black);
     padding: 0.5rem;
     transition: color 0.3s ease;
  }

  nav ul li a:hover {
     color: var(--green);
  }


  /* .dropdown list css starts here */
  /* Dropdown Menu Styles */
  .dropdown {
     display: none;
  }

  .dropdown li {
     list-style-type: disc;
  }

  .dropdown li a {
     text-decoration: none;
     padding: 1rem;
     display: block;
     color: var(--black);
  }

  .dropdown li a:hover {
     background-color: var(--green);
     color: var(--white);
  }

  nav div.nav-icon input.search-bar {
     margin-left: 2rem;
     border-radius: 5rem;
     width: 20rem;
     /* border: 1px dashed #020202; */
     font-size: 1.9rem;
     padding: 0.5rem 0 0.5rem 1rem;
     box-shadow: 0 0.4rem 0.8rem var(--black);
     transition: all 0.2s ease 0.1s;
  }

  nav .nav-icon .search-bar:focus {
     transform: translateY(-3px);
  }


  .nav-icon i {
     font-size: 2rem;
     margin: 0rem 1.7rem 0 2rem;
     padding: 0.5rem;
     border-radius: 50%;
     cursor: pointer;
     box-shadow: 0 0.4rem 0.8rem var(--black);
     transition: all 0.2s ease 0.1s;
  }

  .nav-icon i:hover {
     transform: translateY(-3px);
     box-shadow: inset 0 0.4rem 0.8rem var(--black);
  }

  .menu-icon {
     display: none;
     flex-direction: column;
     cursor: pointer;
  }

  /* 3 dash menu icon open and close button */
  .menu-icon span {
     background: var(--black);
     border-radius: 50%;
     height: 0.3rem;
     width: 2.5rem;
     margin: 0.3rem 0;

  }

  /* scroll effect not applied */
  /* nav.scrolled {
     background-color: rgba(145, 168, 155, 0.5);
     color: black;
  } */

  /* nav bar endded here */

  /* margin between nav and main body */
  .home {
     margin-top: 1vh;
  }

  /* home swipper started here,Slides of home ,about us etc  */

  .swiper-button-prev,
  .swiper-button-next {
     color: var(--white);

  }

  .swiper-pagination-bullet,
  .swiper-scrollbar-drag {
     background-color: var(--white);
  }

  .homeswiper {
     position: relative;
     width: 100vw;
     height: 60vh;
  }

  .homeswiper .box1 {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
  }

  .homeswiper .box1 img {
     width: 100%;
     height: 100%;
     border-radius: 2%;
     object-fit: cover;
  }

  .slide-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: var(--white);
     background-color: rgba(60, 58, 58, 0.5);
     text-align: center;
     width: 90%;
     padding: 1rem;
  }

  /* main home swipper  */
  .slide-text h1 {
     font-size: 3rem;
     margin: 0;
  }

  .slide-text p {
     font-size: 1.6rem;
     font-family: sans-serif;
  }

  /* product slider1  and product slider 2*/
  .heading {
     text-align: center;
     font-size: 3rem;
     padding: 1rem;
     margin: 2rem 0 1.5rem 0;
     color: var(--golden);
     background-color: var(--red);
     box-shadow: 0.9rem 0.9rem 1rem var(--red);
  }

  .product-swiper.swiper,
  .product_slider_2 {
     width: 100%;
     padding-top: 5rem;
     padding-bottom: 5rem;
     margin-bottom: 1.5rem;
     background-color: var(--medium-gray);
  }

  .swiper-slide.product-box {
     box-sizing: border-box;
     position: relative;
     display: inline-block;
     background-position: center;
     background-size: cover;
     width: 30rem;
     height: 30rem;
  }

  /* buy now hover animation */
  .swiper-slide:hover .product-action {
     opacity: 1;
     bottom: 25%;
  }

  .product-action {
     opacity: 0;
     position: absolute;
     bottom: 15%;
     width: 100%;
     background-color: var(--white);
     color: var(--black);
     padding: 0.5rem;
     border-radius: 10rem;
     text-align: center;
     transition: opacity 0.5s ease, bottom 0.5s ease;
  }

  .product-action a,
  .product-info a {
     color: var(--black);
     text-decoration: none;
  }

  /* Know more hover animation */
  .swiper-slide:hover .know-more {
     opacity: 1;
     bottom: 50%;
  }

  .know-more {
     width: 50%;
     left: 50%;
     transform: translateX(-50%);
  }


  .swiper-slide.product-box img {
     display: block;
     width: 100%;
     height: 90%;
     object-fit: contain;
     background-color: var(--white);
     border-radius: 15%;
  }

  .swiper-slide.product-box img:hover {
     transform: scale(1.1);
  }

  .product-info {
     display: flex;
     justify-content: space-between;
     font-size: 2rem;
     color: var(--black);
     background-color: var(--medium-gray);
  }

  /* swipper of product 2 */



  /* swipper of categories-swiper or product 3  slider */
  .categories {
     width: 100%;
     height: 60rem;
     /* Set an appropriate height */
     margin-left: auto;
     margin-right: auto;
     padding: 2rem;
     background-color: var(--medium-gray);
  }


  .categories .swiper-slide {
     font-size: 1.5rem;
     height: 100%;
     border-radius: 1rem;
     /* Center slide text vertically */
     background-color: var(--white);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     overflow: hidden;
  }

  .categories .swiper-slide:hover {
     transform: scale(1.1);
     box-shadow: 1.5rem 1.5rem 5rem var(--black);
  }

  .categories .swiper-slide .slide-text p {
     margin: 1rem
  }

  .categories .slide-text p:nth-child(1) {
     color: var(--green-yello);
  }

  .grid-div {
     display: grid;
     grid-template-columns: repeat(3, 2fr);
     /* Two columns layout */
     width: 100%;
     height: 100%;
  }

  .grid-div img {
     width: 100%;
     height: 100%;
     border-radius: 0;
     object-fit: contain;
     /* applyig common transition */
  }

  /* Hover effect */
  .grid-div a:hover img {
     transform: scale(1.2);
     border-radius: 10%;
  }

  .image-1 {
     top: 0;
     left: 0;
  }

  .image-2 {
     top: 0;

  }

  .image-3 {
     top: 0;
     right: 0;
  }

  .image-4 {
     bottom: 0;
     left: 0;
  }

  .image-5 {
     bottom: 0;
     align-items: center;

  }

  .image-6 {
     bottom: 0;
     right: 0;
  }




  /* contact from or feedback form */

  .container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: flex-start;
     padding: 3rem;
     background-color: var(--white);
     border-radius: 10px;
     box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.1);
     margin: 2rem auto;
     width: 95%;
     font-size: 1.6rem;
  }

  .form {
     width: 100%;
     max-width: 500px;
  }

  .container h2 {
     color: var(--green);
     margin-bottom: 1rem;
  }

  .container p {
     margin: 0 0 0rem 0;
     color: var(--black);

  }

  .asterick {
     color: var(--red);
  }

  input,
  textarea {
     width: 100%;
     padding: 1rem;
     margin-top: 0.5rem;
     margin-bottom: 2rem;
     border: 0.1rem solid #ddd;
     border-radius: 0.4rem;
     font-size: 1.6rem;
  }

  .consent {
     width: auto;
     margin: 0;
     transform: scale(1.5);
  }

  button {
     background-color: var(--light-green);
     color: var(--white);
     padding: 1rem 1.5rem;
     border: none;
     border-radius: 5rem;
     cursor: pointer;
     font-size: 1.6rem;
     width: 100%;
     margin: 1rem 0 2rem 0;
  }

  button:hover {
     background-color: var(--green);
     box-shadow: inset 0 0.4rem 0.8rem var(--white);
  }

  .map {
     width: 100%;
     max-width: 600px;
  }

  iframe:hover {
     transform: scale(1.1);
  }

  .info a {
     display: block;
     color: grey;
     margin: 1rem 0 1.5rem 0;
  }

  .hours table {
     width: 100%;
     border-collapse: collapse;
  }

  .hours th,
  .hours td {
     font-size: 1.3rem;
     padding: 1rem;
     border-bottom: 1rem solid #ddd;
     text-align: left;
  }

  textarea {
     resize: none;
  }

  /* Responsive Design is in media file*/




  /* footer css starts here */
  /* The footer is fixed to the bottom of the page */

  footer {
     position: fixed;
     bottom: 0;
     width: 100%;
  }

  .footer-distributed {
     background-color: var(--red);
     box-sizing: border-box;
     width: 100%;
     text-align: left;
     font: bold 1.6rem sans-serif;
     padding: 5rem 5rem 6rem 5rem;
     margin-top: 3rem;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
     display: inline-block;
     /* vertical-align: top; */
  }

  /* Footer left */

  .footer-distributed .footer-left {
     width: 30%;
  }

  .footer-distributed .footer-left img {
     width: 20rem;
     height: auto;
     display: block;
     margin-bottom: 1rem;
  }

  .footer-distributed .footer-left img:hover {
     transform: scale(1.1);
  }

  .footer-distributed h3 {
     color: var(--white);
     font: normal 3.6rem 'Cookie', cursive;
     margin: 0;
  }

  .footer-distributed h3 span {
     color: var(--golden);
  }

  /* Footer links */

  .footer-distributed .footer-links {
     color: var(--white);
     margin: 2rem 0 1.2rem;
  }

  .footer-distributed .footer-links a {
     display: inline-block;
     line-height: 1.8;
     text-decoration: none;
     color: inherit;
  }

  .footer-distributed .footer-company-name {
     color: var(--light-green);
     font-size: 1.4rem;
     font-weight: normal;
     margin: 0;
  }

  /* Footer Center */

  .footer-distributed .footer-center {
     width: 35%;
  }

  .footer-distributed .footer-center i {
     background-color: var(--medium-gray);
     color: var(--white);
     font-size: 2.5rem;
     width: 3.8rem;
     height: 38px;
     border-radius: 50%;
     text-align: center;
     line-height: 4.2rem;
     margin: 1rem 1.5rem;
     vertical-align: middle;
  }

  .footer-distributed .footer-center i.fa-envelope {
     font-size: 1.7rem;
     line-height: 3.8rem;
  }

  .footer-distributed .footer-center p {
     display: inline-block;
     color: var(--white);
     vertical-align: middle;
     margin: 0;
  }

  .footer-distributed .footer-center p span {
     display: block;
     font-weight: normal;
     font-size: 1.4rem;
     line-height: 2;
  }

  .footer-distributed .footer-center p a {
     color: var(--golden);
     text-decoration: none;
  }

  /* Footer Right */

  .footer-distributed .footer-right {
     width: 30%;
  }

  .footer-distributed .footer-company-about {
     line-height: 2rem;
     color: var(--medium-gray);
     font-size: 1.3rem;
     font-weight: normal;
     margin: 0;
  }

  .footer-distributed .footer-company-about span {
     display: block;
     color: var(--white);
     font-size: 1.8rem;
     font-weight: bold;
     margin-bottom: 2rem;
  }

  .footer-distributed .footer-icons {
     margin-top: 2.5rem;
  }

  .footer-distributed .footer-icons a {
     display: inline-block;
     width: 3.5rem;
     height: 3.5rem;
     cursor: pointer;
     background-color: var(--medium-gray);
     border-radius: 0.2rem;
     font-size: 2rem;
     color: var(--white);
     text-align: center;
     line-height: 3.5rem;
     margin-right: 0.3rem;
     margin-bottom: 0.5rem;
  }

  .footer-distributed .footer-icons a:hover {
     background-color: var(--green);
  }

  .footer-links a:hover {
     color: var(--light-green);
  }


   